<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <title>MasterPage</title>
        <script type="text/javascript" src="../assets/html.utils.js"></script>
        <link rel="stylesheet" type="text/css" href="all.css" />
        <style type="text/css">
.beforeload { opacity: 0; }

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadein { 
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
}
        </style>
    </head>
    <body class="beforeload">
        <div id="wrapper" class=""><div class="loading">Loading...</div></div>
        <script type="text/javascript">
function render(o){
    var w = $('wrapper');
    w.innerHTML = tmpl(o.template, o.data);
    document.body.className = "fadein";
}
        </script>
    </body>
</html>