html, body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Helvetica;
}

body { padding: 7px; }

a {
    color: black;
    font-weight: bold;
}

.sectionbutton {
    font-size: 30px;
    color: #d1b275;
    font-family: "Bleeding Cowboys"
}

.unit {
    margin-bottom: 0;
    padding: 7px;
    color: black;
}

.headline {
  /*  color: #d1b275; */
    color: black;
    font-weight: bold;
    font-family: "AquilineTwo"
}

.subtitle {
    font-size: 10px;
    padding-left: 15px;
    display: block;
    font-style: "italic";
    color: "#333";
}

.content {
    font-size: 12px;
    margin-bottom: 0;
}

.bigpic {
    max-height: 400px;
    max-width: 280px;
    display: block;
    margin: 1em auto;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 6px #111;
}

.content dt {
    clear: both;
    float: left;
    width: 85px;
    text-align: right;
    padding: 0;
    margin: 0;
}

.content dd {
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.content dl ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content dl li {
    margin: 0;
    padding: 0;
}

.content dl:after {
    content: " ";
    left: -1000em;
    clear: both;
    display: block;
}