<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <title>Profile</title>

        <script type="text/javascript" src="../assets/html.utils.js"></script>
        <link rel="stylesheet" type="text/css" href="all.css" />
        <style type="text/css">
        </style>
        <script type="text/tmpl" id="template">
          <div class='tbox'>
            <img class="bigpic" src="../pics/bio_<#=bio.id#>.jpg" />
          </div>
          <div class='tbox'>
            <h2>Data</h2>
            <dl>
              <dt>Name:</dt><dd><#=bio.name#></dd>
              <dt>Role:</dt><dd><#=bio.role#></dd>
              <dt>Member:</dt><dd><#=bio.member#></dd>
            </dl>
          </div>
         <# if(bio.presentation){ #>
           <div class='tbox'>
             <h2>Presentation</h2>
             <#= bio.presentation #>
           </div>
         <# }; #>
         <# if(bio.comments){ #>
             <# for(var i=0; i<bio.comments.length; i++){ var c = bio.comments[i]; #>
                 <div class='tbox'>
                    <h2><#= c.name #> says:</h2>
                    <#= c.content #>
                 </div>
             <# }; #>
         <# }; #>
        </script>
    </head>

    <body>
        <div id="wrapper"><div class="loading">Loading...</div></div>
        <script type="text/javascript">

        var wrapper = $('wrapper'),
            template = $('template').textContent;

        function render(e){
            wrapper.innerHTML = tmpl(template, e);
        }
        </script>
    </body>
</html>