<# for(var i=0; i<data.length; i++){
    var msg = data[i];
    if (msg.message){
#>
<div class="unit"> 
  <div class="subtitle"><#= msg.created_time.substr(0,10) #></div>
  <div class="content"><#= H.linkify(msg.message.replace("\n","<br/>")) #></div>
</div>
<# } } #>