<# var posts = H.ensureArray(data.post); 
   for(var i=0; i<posts.length; i++){ var post = posts[i]; #>
<div class="unit">
  <h2 class="headline"><#= post.who #></h2>
  <div class="content"><#= post.content #></div>
</div>
<# } #>