<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <title>Profile</title>

        <script type="text/javascript" src="../assets/html.utils.js"></script>
        <link rel="stylesheet" type="text/css" href="all.css" />
        <style type="text/css">
body {
    padding-top: 60px;
}
        </style>
        <script type="text/tmpl" id="template">
          <div class="tbox">
           <h2>Image data</h2>
           <dl><dt>Title</dt><dd><#=pic.title#></dd>
           <dt>URL</dt><dd><#=pic.url#></dd>
           </dl>
          </div>
        </script>
    </head>

    <body>
        <div id="wrapper"><div class="loading">Loading...</div></div>
        <p>Moo</p>
        <p>Hooooooo</p>
        <script type="text/javascript">
        var wrapper = $('wrapper'),
            template = $('template').textContent;

        function render(e){
            Ti.API.log(["dsadsa",e]);
            wrapper.innerHTML = tmpl(template, e);
        }
        </script>
    </body>
</html>