          <div class="tbox">
           <h2>Image data</h2>
           <p>He're we'll display imare url, dimensions, album name, etc.</p>
      <!--     <dl><dt>Title</dt><dd><#=data.title#></dd>
           <dt>URL</dt><dd><#=data.url#></dd>
           </dl> -->
          </div>