<div class='unit'>
  <h2 class="headline">Lyrics</h2>
  <div class="content lyrics">
  <# for(var i=0;i<data.length;i++){ #>
    <p>
      <# for(var l=0;l<data[i].length; l++){ #>
        <#= data[i][l] #> <br/>
      <# }; #>
    </p>
  <# }; #>
  </div>
</div>