          <div class='tbox'>
            <h2>Lyrics</h2>
            <# if(!data){ #>
                <p>Instrumental</p>
            <# } else
                 for(var i=0;i<data.length;i++){ #>
                <p>
                <# for(var l=0;l<data[i].length; l++){ #>
                    <#= data[i][l] #> <br/>
                <# }; #>
                </p>
	        <# }; #>
	      </div>