<# try { #>
<div class='unit'>
  <h2 class="headline">Statistics</h2>
  <div class="content">
    <p>Here you can see the breakdown of how the <#= data.members #> members of the Tristania fan community has voted!</p>
  </div>
</div>



<div class='unit'>
   <h2 class="headline">Favourite album votes</h2>
   <div class="content">
       <dl class="wide statistics">
           <# for(var a in data.favalbum.results){ #>
               <dt><#= a #></dt><dd><div><div style="width: <#= 100*data.favalbum.results[a].percentage/100 #>px;">&nbsp;</div><span>&nbsp;<#= data.favalbum.results[a].percentage #>%</span></div></dd>
           <# } #>
       </dl>
   </div>
</div>

<# for(var a in data.favtracks){ #>
    <div class='unit'>
        <h2 class='headline'><#= a #> track votes</h2>
        <div class='content'>
            <dl class="wide statistics">
                <# for(var t in data.favtracks[a].results){ #>
                    <dt><#= t #></dt><dd><div><div style="width: <#= data.favtracks[a].results[t].percentage #>px;">&nbsp;</div><span>&nbsp;<#= data.favtracks[a].results[t].percentage #>%</span></div></dd>
                <# } #>
            </dl>
        </div>
    </div>
<# } #>

<# } 
catch(e){ #>
  <div><#= e.message #></div>
<# } #>