          <div class='tbox'>
            <h2>Info</h2>
            <dl>
            <# if (data.albums && data.albums.length){ #>
                <dt>Appears on:</dt>
                <# var txt = ""; for(var i=0; i<data.albums.length; i++){ 
                    txt+= H.renderAlbumLink(data.albums[i]) + " ";
                }; #>
                <dd><#=txt#></dd>
            <# }; #>
              <dt>Length:</dt><dd><#= data.length #></dd>
              <dt>Music:</dt>
                <# if (!data.music) { #>
                  <dd>Tristania</dd>
                <#} else { var txt = ""; for(var i=0; i<data.music.length; i++){ 
                    txt+= H.renderMemberLink(data.music[i]) +" ";
                  } #>
                  <dd><#=txt#></dd>
                <# } #>
              <dt>Lyrics:</dt>
              <# if (data.instrumental){ #>
                <dd>Instrumental</dd>
              <# } else { #>
                <# if (!data.lyrics) { #>
                  <dd>Tristania</dd>
                <#} else { var txt = ""; for(var i=0; i<data.lyrics.length; i++){ 
                    txt+= H.renderMemberLink(data.lyrics[i]) + " ";
                  } #>
                  <dd><#=txt#></dd>
                <# } #>
                
              <# } #>
            </dl>
	      </div>
         <# if(data.presentation){ #>
           <div class='tbox'>
             <h2>Presentation</h2>
             <#= data.presentation #>
           </div>
         <# }; #>
         <# if(data.comments){ #>
             <# for(var i=0; i<data.comments.length; i++){ var c = data.comments[i]; #>
                 <div class='tbox'>
                    <h2><#= c.name #> says:</h2>
                    <#= c.content #>
                 </div>
             <# }; #>
         <# }; #>