<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <title>Profile</title>

        <script type="text/javascript" src="../assets/html.utils.js"></script>
        <link rel="stylesheet" type="text/css" href="all.css" />
        <style type="text/css">
        </style>
        <script type="text/tmpl" id="template">
          <div class='tbox'>
            <h2>Info</h2>
            <dl>
            <# if (track.albums && track.albums.length){ #>
                <dt>Appears on:</dt>
                <# var txt = ""; for(var i=0; i<track.albums.length; i++){ 
                    txt+= H.renderAlbumLink(track.albums[i]) + " ";
                }; #>
                <dd><#=txt#></dd>
            <# }; #>
              <dt>Length:</dt><dd><#= track.length #></dd>
              <dt>Music:</dt>
                <# if (!track.music) { #>
                  <dd>Tristania</dd>
                <#} else { var txt = ""; for(var i=0; i<track.music.length; i++){ 
                    txt+= H.renderMemberLink(track.music[i]) +" ";
                  } #>
                  <dd><#=txt#></dd>
                <# } #>
              <dt>Lyrics:</dt>
              <# if (track.instrumental){ #>
                <dd>Instrumental</dd>
              <# } else { #>
                <# if (!track.lyrics) { #>
                  <dd>Tristania</dd>
                <#} else { var txt = ""; for(var i=0; i<track.lyrics.length; i++){ 
                    txt+= H.renderMemberLink(track.lyrics[i]) + " ";
                  } #>
                  <dd><#=txt#></dd>
                <# } #>
                
              <# } #>
            </dl>
	      </div>
         <# if(track.presentation){ #>
           <div class='tbox'>
             <h2>Presentation</h2>
             <#= track.presentation #>
           </div>
         <# }; #>
         <# if(track.comments){ #>
             <# for(var i=0; i<track.comments.length; i++){ var c = track.comments[i]; #>
                 <div class='tbox'>
                    <h2><#= c.name #> says:</h2>
                    <#= c.content #>
                 </div>
             <# }; #>
         <# }; #>
        </script>
    </head>

    <body>
        <div id="wrapper"><div class="loading">Loading...</div></div>
        <script type="text/javascript">

        var wrapper = $('wrapper'),
            template = $('template').textContent;

        function render(e){
            Ti.API.log(e);
            wrapper.innerHTML = tmpl(template, e);
        }
        </script>
    </body>
</html>